*~
documents/bayesian_annotator_combination.bbl~
documents/bayesian_annotator_combination.tex~
documents/simpson.bib~
documents/bayesian_annotator_combination.synctex.gz
documents/bayesian_annotator_combination.log
documents/bayesian_annotator_combination.aux
documents/bayesian_annotator_combination.blg
output/data/*
*.dat.out
*.pyc
*.pyo

output/nguyen_class_bias_exp_25
**/.swp
**/*.swp
