models_*
documents/figures/*_OLD*
documents/figures/*_old*
*.pkl
*.pyc
*.bak
*~
documents/bayesian_annotator_combination.bbl~
documents/bayesian_annotator_combination.tex~
documents/simpson.bib~
documents/bayesian_annotator_combination.synctex.gz
documents/bayesian_annotator_combination.log
documents/bayesian_annotator_combination.aux
documents/bayesian_annotator_combination.blg
output/data/*
*.dat.out
*.pyc
*.pyo

output/nguyen_class_bias_exp_25
**/.swp
**/*.swp
**/*.DS_Store

output/nguyen**
output/argmin/analysis_prior_1_v2.xlsx
output/argmin/~$analysis_prior_1.xlsx
output/argmin/analysis_prior_1.xlsx
output/argmin/analysis_prior_3.xlsx
output/argmin/pred_err_lowerbound_debug
output/argmin/result_err_lowerbound_debug
output/argmin/pred_err_prior_2_try2
output/argmin/pred_err_prior_3_try2
output/argmin/pred_err_prior_4_try2
output/argmin/result_err_prior_2_try2
output/argmin/result_err_prior_3_try2
output/argmin/result_err_prior_4_try2
output/argmin/*~lock*
**~lock*
output/argmin/pred_err_lowerbound_debug2
output/argmin/result_err_lowerbound_debug2
output/argmin/analysis_prior_1_old.csv
output/crowdsourcing/afac_500_adiag_1_nfac_500*/**
.idea
output/acc_bias_exp
output/acc_bias_exp_25
output/acc_bias_exp_full
output/acc_bias_exp_hmm
output/acc_bias_exp_test
output/argmin
output/argmin7
output/class_bias_exp
output/class_bias_exp_25
output/class_bias_exp_full
output/crowd_size_exp
output/crowd_size_exp_25
output/crowd_size_exp_full
output/crowd_size_exp_hmm
output/crowdsourcing
output/data
output/doc_length_exp
output/doc_length_exp_25
output/doc_length_exp_full
output/group_ratio_exp
output/group_ratio_exp_25
output/group_ratio_exp_full
output/hyperparameters_crowdsourcing
output/nguyen_acc_bias_exp_25
output/nguyen_crowd_size_exp_25
output/nguyen_doc_length_exp_25
output/nguyen_group_ratio_exp_25
output/nguyen_short_bias_exp_25
output/short_bias_exp_25
output/short_bias_exp_full
output/crowdsourcing_2/
*.out
env
models/*
tmpresults
documents/related_work/MasterThesis_annotated.pdf
evaluation/*
libgpuarray
libgpuarray/bin
libgpuarray/Build
libgpuarray/Build (Case Conflict)
libgpuarray/CMakeLists.txt
libgpuarray/CMakeModules
libgpuarray/doc
libgpuarray/INSTALL
libgpuarray/lib
libgpuarray/LICENSE
libgpuarray/make.bat
libgpuarray/Makefile
libgpuarray/Makefile.conf.tmpl
libgpuarray/pygpu
libgpuarray/pygpu.egg-info
libgpuarray/README.txt
libgpuarray/release.txt
libgpuarray/setup.py
libgpuarray/src
libgpuarray/tests
LSTM_worker_model_started-2018-07-03-13-52-49.npy
LSTM_worker_model_started-2018-07-03-15-10-06.npy
LSTM_worker_model_started-2018-07-03-16-16-25.npy
documents/figures/NER_AL_old1
documents/figures/old
documents/figures/placeholder.png
documents/figures/worker_models_old
