/full0.dat.out
/full1.dat.out
/full10.dat.out
/full11.dat.out
/full12.dat.out
/full13.dat.out
/full14.dat.out
/full15.dat.out
/full16.dat.out
/full17.dat.out
/full18.dat.out
/full19.dat.out
/full2.dat.out
/full3.dat.out
/full4.dat.out
/full5.dat.out
/full6.dat.out
/full7.dat.out
/full8.dat.out
/full9.dat.out
